/* ===== Product ===== */
.product-container {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.product-images img {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
}

.product-info {
  max-width: 400px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.tabs {
  margin: 40px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

/* ===== Tabs ===== */
.tabs {
  display: flex;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.tab {
  flex: 1;
  padding: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.tab.active {
  border-bottom: 3px solid black;
  font-weight: bold;
}

.tab-content {
  padding: 30px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

