/* ===== Product ===== */
.product-container {
  display: flex;
  gap: 40px;
  padding: 40px 20px;
  justify-content:center;
  max-width:1000px;
  margin:0 auto;
}

.product-images img {
  width: 100%;
  max-width: 400px; 
  height: auto;
  display: block;
}

.product-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* ===== Tabs ===== */
.tabs {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tab {
  flex: 1;
  padding: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tab.active {
  border-bottom: 2px solid black;
  font-weight: bold;
}

/* 內容區 */
.tab-content {
  padding: 20px;
}

.content {
  display: none;
  text-align: center;
}

.content.active {
  display: block;
}

.tabs {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tab {
  flex: 1;
  padding: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tab.active {
  border-bottom: 2px solid black;
  font-weight: bold;
}

/* 內容區 */
.tab-content {
  padding: 20px;
}

.content {
  display: none;
  text-align: center;
}

.size-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  font-size: 14px;
}

.size-table th,
.size-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.size-table th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  display: none;
  animation: fadeSlide .4s ease;
}

.content.active {
  display: block;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
