/* ===== Product ===== */
.product-container {
  display: flex;
  gap: 40px;
  padding: 40px 20px;
  justify-content:center;
  max-width:1000px;
  margin:0 auto;
  
}

.product-images img {
  width: 100%;
  max-width: 400px; 
  height: auto;
  display: block;
}

.product-info {
  max-width: 400px;
  flex-direction:column;
  align-items:center;
  text-align:left; 
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* ===== Tabs ===== */
.tabs {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.tab {
  flex: 1;
  padding: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tab.active {
  border-bottom: 2px solid black;
  font-weight: bold; 
}
.tab-content {
  padding: 20px;
  display: none;
}

.content.active {
  display: block;
}
